.listeApp {
    display:grid;
    grid-template-columns: repeat(3, 1fr);    
}

.oneApp {
    margin-right:2rem ;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}

.a .iframe {
    width: 4rem
}


.oneApp:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Ajoute une ombre lors du survol */
    transform: scale(1.1); /* Augmente la taille de la div de 10% lors du survol */
}