/* @tailwind base;
@tailwind components;
@tailwind utilities;  */

body{
  margin: 0;
  padding: 0;
  /* height: 50vh; */
  overflow-x: hidden;
}

nav {
  position: sticky;
  top:0;
  text-align: center;
  background-color: lightgray;
  height: 7vh;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
}

nav * {
  margin: 0 15px;
}

nav a {
  /* border: 2px solid black; */
  padding: 5px 15px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}



footer {
  background-color: lightgray;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

footer > p {
  margin-right: 1rem ;
}

.children {
  min-height: 100vh;
  margin: 0;
}
