/* @tailwind base;
@tailwind components;
@tailwind utilities;  */

body{
  /* background-color: darkgrey; */
}

nav {
  text-align: right;
  background-color: lightgray;
}

nav * {
  margin-left: 2%;
}

footer {
  text-align: right;
  background-color: lightgray;
  position: absolute;
  bottom: 0;
  width: 100%;
}