.header {
    size: 50px;
    color: black;
    align-items: center;
}

.fullPageWrapper div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#accueil {
    size:15rem;
    color: blue;
}

.aboutme{
    color: brown;
}