.content h1 {
    text-align: center;
}

.select {
    display: flex;
}

.active > *{
    display: none;

}

.allButton {
    display: flex;
    justify-content: center;
}

.button {
    border: none;   
    background: none;
    box-shadow: none;
    width: 15rem;
    height: 4rem;
}

.actButton {
    text-decoration: underline;

}

.button h2 {
    font-size: 120;
}

.contentApp {
    margin-left: 2rem;
}
