.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    height: 50dvh;
    margin-left: 3rem;
    margin-right: 3rem;

}

.bar {
    height: 20px;
    
}
  
#PowerShell {
    background-color: #3498db;
}

#Bash {
    background-color: #e74c3c;
}

#Web {
    background-color: #2ecc71;
}