.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    height: 50dvh;

}

.dashboard .pieContainer{
    margin-right: 3rem;
    margin-left: 3rem;
}

.pieContainer {
    display: flex;
    flex-direction: column;
}